*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background: rgb(104, 98, 98);
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    height: 111vh;
}
.sidebar nav{
    padding: 15px;
}
.sidebar nav li{
list-style: none;
font-size: 30px;
padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}
.main{
    background: rgb(202, 205, 209);
    width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
    background-color: rgb(134, 123, 123);
    height: 58vh;
    width: 80vw;
    margin: 124px auto;
    display: flex;
    justify-content: space-around;

}
.hello{
    font-size: 65px;

}
.name{
font-size: 50px;
font-weight: bold;
}
.about{
    font-size: 30px;

}
.button{
    margin-top:34px ;
}
.buttons button{
    padding: 9px 14px;
    color: white;
    border: 2px solid white;
    border-radius: 22px;
    background: dodgerblue;
    margin: 15px 5px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;

}
.buttons button:hover{
color: rgb(31, 31, 209);
background:white;
}
.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.devpic img{
    height: 58vh;
    position: relative;
    right: 55px;
}
form .mb3{
    margin: 50px;
    padding: auto;
}
form .mb3 .form-label{
    margin: 5px;
}


/* .................. */

.left {
    height: 500px;
    width: 380px;
    background-image: url(./img/img1.jpg);
    background-size: cover;
    border-radius: 3px;

}
h1{
    margin: 20px;
}

.right {
    height: 500px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 3px;
}
.input{
background: black;
color: white;
margin: 10px;
padding: 10px;
width: 200px;
}
.button{
    background-color: yellowgreen;
   position: relative;
   left: 100px;
   width: 80px;
   height: 30px;
   border-radius: 5px;
}
footer{
    text-align: center;
}